@font-face {
  font-family: "romelu_vomelu_italic";
  src: url("../fonts/romeluvomeluitalic-k7jvd-webfont.woff2") format("woff2"),
    url("../fonts/romeluvomeluitalic-k7jvd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-regular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("../fonts/gilroy-semibold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-bold";
  src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "agatho-regular";
  src: url("../fonts/agatho_regular-webfont.woff2") format("woff2"),
    url("../fonts/agatho_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "agatho-light";
  src: url("../fonts/agatho__light-webfont.woff2") format("woff2"),
    url("../fonts/agatho__light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "agatho-bold";
  src: url("../fonts/agatho__bold-webfont.woff2") format("woff2"),
    url("../fonts/agatho__bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fffcf6;
}

@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1235px;
  }

  header .container-fluid {
    max-width: 1340px;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

header {
  //   padding: 24px 0;
  //   background: url("../images/pattern-02.png");
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .bg-light {
    background-color: inherit !important;
  }

  .site-branding {
    margin: 0;
  }

  .site-logo {
    margin: 0;
    position: relative;

    img {
      opacity: 0;
      transition: all 1s;
      max-width: 100%;
    }
  }
  .site-logo .yellow,
  .site-logo .red {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  header
    .navbarOpen
    .primary-navigation
    > div
    > ul.menu-wrapper
    > li.menu-item
    > a {
    color: #a00014;
  }
  // .primary-navigation .primary-menu-container > ul > .menu-item > a
  .primary-navigation > div > ul.menu-wrapper {
    > li.menu-item {
      margin: 0 20px;

      > a {
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
        font-family: "gilroy-regular";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        // color: #f1e5bf;
        text-transform: capitalize;

        
      }

      &.contactUs {
        margin-left: 47px;
        margin-right: 0;

        a {
          // color: #a00014;
          padding: 13px 32px;
          border-radius: 5px;
          line-height: 22px;
          font-family: "gilroy-semibold";
          &:hover {
            text-decoration: none;
          }
        }
      }
      &.current-menu-item, &.current-menu-ancestor {
        a {
          // font-weight: 600 ;
          text-decoration: none;
          font-family: "gilroy-semibold";
        }
      }
    }
    li:not(.contactUs) a {
      &:hover,
        &:active,
        &:focus {
          // color: #f1e5bf;
          text-decoration: none;
          outline: none;
          background: transparent;
         
      }
    }
    > li.menu-item:first-child {
      margin-left: 0;
    }
    .sub-menu, .sub-menu-toggle {
      display: none;
    }
  }
  .primary-navigation .primary-menu-container {
    margin: 0;
  }

  .primary-navigation a,
  .primary-navigation a:hover,
  .primary-navigation a:link,
  .primary-navigation a:visited {
    color: #a00014;
    transition: all 1s;
  }

  .navbarOpen .primary-navigation a {
    color: #a00014;
  }

  .primary-navigation .contactUs a {
    background: #a00014;
    color: #f3e5ba;
  }
}
.topBanner .primary-navigation a,
.topBanner .primary-navigation a:hover,
.topBanner .primary-navigation a:link,
.topBanner .primary-navigation a:visited {
  color: #f1e5bf;
}
.topBanner .navbarOpen .primary-navigation a,
.topBanner .navbarOpen .primary-navigation a:hover,
.topBanner .navbarOpen .primary-navigation a:link,
.topBanner .navbarOpen .primary-navigation a:visited {
  color: #a00014;
}

.topBanner .primary-navigation .contactUs a,
.topBanner .navbarOpen .primary-navigation .contactUs a {
  color: #a00014;
  background: #f3e5ba;
}
.navbarOpen .primary-navigation .contactUs a {
  background: #a00014;
  color: #f3e5ba;

  &:hover {
    color: #f3e5ba;
  }
}
.navbar .site-logo .red {
  opacity: 1;
}
.topBanner .navbar .site-logo .yellow {
  opacity: 1;
}
.topBanner .navbar .site-logo .red {
  opacity: 0;
}
.navbar.navbarOpen .site-logo .yellow {
  opacity: 0;
}
.navbar.navbarOpen .site-logo .red {
  opacity: 1;
}
.navbarOpen {
  background-color: #fffcf6;
  border-bottom: 1px solid #a00014;
}

//styleName: DM Sans/Body/Bold/P1;
.dm-sans-as {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  // font-style: normal;
}

.bannerWrap {
  //   padding-top: 62px;
  margin-top: -120px;
  padding-top: 182px;
  padding-bottom: 84px;
  margin-bottom: 53px;
  background: #a00014 url("../images/couplet-pattern.png") top left;

  h1 {
    padding-bottom: 22px;
  }

  .line {
    margin-bottom: 37px;
    max-width: 342px;
    border-bottom: 1px solid #f3e5ba;
  }

  .mainLogo {
    max-width: 390px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  h1.logoText {
    font-family: "agatho-light";
    font-size: 130px;
    font-weight: 300;
    line-height: 137.54px;
    color: #f3e5ba;
    margin-bottom: 0;
  }

  h2,
  h3 {
    font-family: "romelu_vomelu_italic";
    line-height: 45px;
    color: #f3e5ba;
    max-width: 434px;
    font-weight: 400;
  }

  h2 {
    font-size: 40px;
    text-transform: capitalize;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .innerBanner {
    max-width: 426px;
    // margin-left: -18px;
  }
}

.bannerContent {
  align-items: center;
}

.btn-wrap {
  display: flex;
  margin-left: -40px;

  a {
    font-family: "gilroy-semibold";
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.005em;
    padding: 17px;
    border-radius: 5px;
    margin-left: 40px;
    min-width: 192px;
    text-align: center;
    height: 56px;
  }
  a.sec-btn {
    border: 2px solid #f3e5ba;
    padding: 15px;
    color: #f3e5ba;

    &:hover {
      color: #f3e5ba;
    }
  }
}

.primary-btn {
  border: 1px solid #f3e5ba;
  background-color: #f3e5ba;
  color: #a00014;

  &:hover {
    color: #a00014;
  }
}

.bannerImgWrap {
  border: 1px solid #f1e5bf;
  background: #a00014;

  padding: 34px;
  padding-bottom: 0;
  border-radius: 5px;
  //   margin-right: -24px;
  max-width: 670px;
  margin-left: 40px;

  .mainImg {
    box-shadow: -4px 4px 4px 0px #00000040;
    border-radius: 5px;
    overflow: hidden;
  }

  .photoInfo {
    color: #f3e5ba;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-family: "gilroy-light";
    min-height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.aboutWrap {
  margin-bottom: 162px;
}

.borderTitle {
  font-family: "romelu_vomelu_italic";
  font-size: 32px;
  line-height: 35.2px;
  text-align: center;
  color: #a00014;
  padding: 24px 0 22px;
  margin-bottom: 80px;
  border-top: 1px solid #5daa9b;
  border-bottom: 1px solid #5daa9b;
}

.aboutDetail {
  color: #f3e5ba;
  min-height: 251px;
  background: #a00014;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px 20px 28px 20px;
  //max-width: 239px;
  //margin: 0 auto 31px;

  .iconWrap {
    width: 98px;
    height: 98px;
    text-align: center;
    margin-bottom: 2px;
  }

  h4 {
    font-family: "agatho-light";
    font-size: 28px;
    //font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    // max-width: 178px;
    margin-bottom: 0;
  }
}

.layerImageBox {
  position: relative;
  display: flex;
  justify-content: end;

  .layerImageWrap {
    position: relative;
    border-radius: 5px;

    img {
      z-index: 2;
      position: relative;
    }
  }

  .layerImgBg {
    border-radius: 5px;
    width: 88%;
    height: 100%;
    background: #a00014;
    position: absolute;
    z-index: 1;
    bottom: -18px;
    right: -15px;
  }
}

.newAgeWrap {
  color: #a00014;
  margin-bottom: 160px;

  .layerImageBox {
    margin-top: -20px;
    margin-right: 18px;
  }

  .layerImageWrap {
    img {
      border-radius: 5px;
      box-shadow: 4px 4px 4px 0px #00000040;
    }
    // max-width: 559px;
  }

  h2 {
    font-family: "romelu_vomelu_italic";
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.022em;
    margin-bottom: 26px;
    display: flex;
    //padding-left: 35px;

    &::before {
      content: "";
      background: url("../images/Isolation_Mode.png");
      height: 58px;
      width: 53px;
      position: absolute;
      top: -48px;
      left: -30px;
    }
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    margin-bottom: 70px;
  }
}

.newAgeDetail {
  max-width: 533px;
}

.checkListWrap {
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 9px;
    padding-right: 19px;
    border-left: 1px solid #5daa9b;

    &:first-child {
      border: none;
    }
  }

  i {
    //background: url(../images/check.png);
    height: 56px;
    width: 56px;
    display: block;
    margin-top: -12px;
    margin-bottom: 5px;
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    max-width: 145px;
    margin-bottom: 5px;
  }
}

.memberWrap {
  h2 {
    font-size: 40px;
    line-height: 42px;
    font-family: "agatho-regular";
    font-weight: 300;
    color: #a00014;
    margin-bottom: 46px;
  }
}
.slick-track {
  display: flex;
  .slick-slide {
    padding: 0 24px;
    height: inherit !important;
  }
}
.sliderDetails {
  background: #a00014;
  border: 1px solid #f3e5ba;
  color: #f3e5ba;
  height: 100%;
  //   max-width: 380px;
  padding: 27px 23px;
  border-radius: 5px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;

  .testimonial {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    padding-bottom: 34px;
    margin-bottom: auto;
    // min-height: 140px;
  }

  .name {
    font-family: "romelu_vomelu_italic";
    border-top: 1px solid #f3e5ba;
    padding-top: 18px;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
}

.sliderSection {
  margin-bottom: 143px;

  .slick-prev,
  .slick-next {
    border-radius: 0;
    width: 32px;
    height: 32px;
    background: url("../images/arrow-left.png") transparent !important;
    top: unset;
    bottom: -75px;

    &:hover {
      background-color: transparent !important;
    }

    &::before {
      background: unset;
      content: "";
    }
  }

  .slick-disabled {
    opacity: 30%;
  }

  .slick-prev {
    transform: rotate(180deg);
    left: calc(100% - 114px);
    bottom: -59px !important;
  }

  .slick-next {
    right: 24px;
  }
}

.sliderTest {
  width: 100%;
}

.decisionWrap {
  //justify-content: flex-start;
  margin-left: 39px;

  .layerImageWrap {
    max-width: 602px;
  }
}

.leftlayerBox .layerImgBg {
  left: -20px;
  width: 82%;
  bottom: -16px;
}

.alignCenter {
  align-items: center;
}

.joinNow {
  margin-bottom: 146px;

  .borderTitle {
    margin-bottom: 102px;
  }
}

.joinNowDetail {
  margin-left: 66px;
  margin-top: 48px;

  p {
    color: #a00014;
    font-family: "romelu_vomelu_italic";
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.022em;
    max-width: 360px;
    margin-bottom: 55px;
    position: relative;

    &::after {
      content: "";
      background: url("../images/Isolation_Mode (1).png");
      height: 58px;
      width: 53px;
      position: absolute;
      top: -27px;
      right: 31px;
    }
  }
}

.red-btn {
  background: #a00014;
  color: #fffcf6;
  font-family: "gilroy-bold";
  font-size: 18px;
  line-height: 23.44px;
  letter-spacing: 0.005em;
  text-align: center;
  padding: 12px 32px;
  border-radius: 5px;
  text-transform: capitalize;

  &:hover {
    color: #fffcf6;
  }
}

.trustWrap {
  margin-bottom: 109px;

  .borderTitle {
    margin-bottom: 110px;
  }
}

.trustContainer {
  max-width: 1092px;
  margin: 0 auto;
  display: grid;
  //   grid-template-columns: auto auto auto auto auto auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 38px 50px;
}

.trustBox {
  //   max-width: 140px;
  //   min-height: 148px;
  border-radius: 5px;
  border: 1px;
  border: 1px solid #5daa9b;
  padding: 14px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  //margin-bottom: 38px;

  .icon {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      align-items: center;
    }
  }

  span {
    font-family: "agatho-bold";
    font-size: 20px;
    color: #a00014;
    line-height: 22px;
    min-height: 44px;
    display: flex;
    align-items: center;
  }
}

.meetWrap {
  margin-bottom: 90px;

  .layerImageWrap {
    max-width: 534px;
    margin-left: 40px;

    img {
      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 5px;
    }
  }

  .layerImgBg {
    background: #5daa9b;
    bottom: -19px;
    right: -16px;
    height: 98%;
  }

  .meetContent {
    margin-top: 50px;
    margin-left: -8px;

    h3 {
      color: #a00014;
      font-family: "agatho-light";
      font-size: 50px;
      line-height: 52.9px;
      margin-bottom: 46px;
      max-width: 553px;
    }
  }
}

.red-sec {
  border: 2px solid #a00014;
  padding: 17px 48px;
  border-radius: 5px;
  color: #a00014;
  font-family: "gilroy-bold";
  font-size: 18px;
  line-height: 22.28px;
  letter-spacing: 0.005em;
  text-align: center;
  text-transform: capitalize;

  &:hover {
    color: #a00014;
  }
}

.grid {
  display: grid;
  //   grid-template-columns: auto auto auto auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 83px;
}

@media only screen and (max-width: 1199px) {
  header .primary-navigation > div > ul.menu-wrapper > li.menu-item {
    // padding-left: 12px !important;
    // padding-right: 12px !important;
    margin: 0 12px;
    a {
      font-size: 18px !important;
    }
  }
  header .primary-navigation > div > ul.menu-wrapper > li.menu-item.contactUs {
    margin-left: 12px;
  }
  header
    .primary-navigation
    > div
    > ul.menu-wrapper
    > li.menu-item.contactUs
    a {
    padding: 13px 22px;
  }
  .bannerWrap {
    h1.logoText {
      font-size: 108px;
      line-height: 81.54px;
    }
    .line {
      margin-bottom: 22px;
    }
    h2,
    h3 {
      line-height: 38px;
    }
    h2 {
      font-size: 34px;
    }
    h3 {
      font-size: 28px;
      margin-right: 28px;
    }
  }
  .btn-wrap {
    margin-left: -20px;
    a {
      margin-left: 20px;
      min-width: 140px;
    }
  }
  .bannerImgWrap {
    padding: 25px;
  }
  .grid {
    gap: 30px;
  }
  .newAgeWrap h2 {
    font-size: 38px;
    line-height: 42px;
    &::before {
      height: 45px;
      width: 45px;
      left: -10px;
      top: -36px;
      background-size: contain;
    }
  }
  .slick-track .slick-slide {
    padding: 0 10px;
  }
  .joinNow {
    .row {
      align-items: center;
    }
    .joinNowDetail {
      margin-top: 0;
      margin-left: 40px;
      p {
        margin-bottom: 35px;
        font-size: 34px;
        line-height: 45px;
      }
    }
  }
  .meetWrap {
    .row {
      align-items: center;
    }
    .meetContent {
      margin: 0;
      h3 {
        font-size: 42px;
        line-height: 48.9px;
        margin-bottom: 30px;
      }
    }
  }
  .trustContainer {
    gap: 20px;
    max-width: 930px;
  }
}
@media only screen and (max-width: 991px) {
  header .primary-navigation > div > ul.menu-wrapper > li.menu-item.contactUs {
    margin-left: 0;
    margin-top: 10px;
    width: 158px;
  }
  header .primary-navigation .primary-menu-container {
    padding: 0;
    padding-top: 20px;
  }
  header .primary-navigation > div > ul.menu-wrapper > li.menu-item > a {
    padding: 8px;
  }
  header .primary-navigation > div > ul.menu-wrapper > li.menu-item {
    margin: 0px;
  }
  .primary-navigation {
    position: static;
  }
  .primary-navigation > .primary-menu-container {
    height: auto;
    position: static;
    visibility: visible;
    opacity: 1;
    background: transparent;
    transform: none;
  }
  .primary-navigation > div > .menu-wrapper {
    padding-bottom: 0;
  }

  .topBanner .navbar-toggler,
  .topBanner .navbar-toggler:not(:hover):not(:active):not(.has-background) {
    background: #f3e5ba;
    border: none;
    transition: all 1s;
    svg,
    svg path {
      fill: #a00014;
    }
    &:hover {
      background: #f3e5ba;
    }
  }
  .navbarOpen .navbar-toggler,
  .navbarOpen
    button.navbar-toggler:not(:hover):not(:active):not(.has-background),
  .navbar-toggler,
  button.navbar-toggler:not(:hover):not(:active):not(.has-background) {
    background: #a00014;
    svg,
    svg path {
      fill: #f3e5ba;
    }
    &:hover {
      background: #a00014;
    }
  }
  .navbar-collapse.show {
    // position: absolute;
    // top: 0;
    // width: 250px;
    // background: white;
    // right: 0px;
    // height: 100vh;
    // position: absolute;
  }
  .primary-navigation {
    margin-left: 0;
  }
  .primary-navigation > div > .menu-wrapper {
    flex-direction: column;
  }
  .bannerWrap {
    h3 {
      margin-right: 0;
    }
    .innerBanner {
      max-width: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
    .bannerImgWrap {
      margin: 0 auto;
      padding: 34px;
      //max-width: unset;
    }
  }
  .borderTitle {
    font-size: 26px;
    margin-bottom: 60px;
  }
  .grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .newAgeWrap {
    h2 {
      position: relative;
      &::before {
        left: -28px;
      }
    }
    .row {
      flex-direction: column-reverse;
    }
    .newAgeDetail {
      max-width: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    .layerImageBox {
      justify-content: center;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  .decisionWrap {
    margin-left: 0;
  }
  .joinNow {
    .joinNowDetail {
      margin-top: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      p {
        &::after {
          right: -50px;
        }
      }
    }
  }
  .trustContainer {
    max-width: 720px;
    grid-template-columns: repeat(4, 1fr);
  }
  .meetWrap {
    .row {
      flex-direction: column-reverse;
    }
    .meetContent {
      margin-top: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      h3 {
        max-width: unset;
        text-align: center;
      }
    }
  }
  .layerImageBox {
    justify-content: center;
    .layerImageWrap {
      margin-left: 0 !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  header .site-logo {
    width: 125px;
  }
  .bannerWrap {
    h1.logoText {
      font-size: 75px;
      line-height: 48.54px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
    h2,
    h3 {
      line-height: 30px;
    }
    .bannerImgWrap {
      padding: 15px;
      .photoInfo {
        min-height: 78px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
      }
    }
  }
  .borderTitle {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  .trustContainer {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15px;
    padding-right: 15px;
  }
  .joinNow {
    margin-bottom: 80px;
    .borderTitle {
      margin-bottom: 40px;
    }
    .joinNowDetail p {
      margin-bottom: 35px;
      font-size: 34px;
      line-height: 45px;
      text-align: center;
      max-width: 345px;
      &::after {
        right: 2px;
      }
    }
  }
  .aboutWrap,
  .newAgeWrap {
    margin-bottom: 80px;
  }
  .layerImageBox {
    max-width: 96%;
  }
  .decisionWrap {
    padding-left: 20px;
    max-width: unset;
  }
  .trustWrap {
    margin-bottom: 80px;
    .borderTitle {
      margin-bottom: 40px;
    }
  }
  .newAgeWrap {
    p {
      margin-bottom: 40px;
    }
    h2 {
      font-size: 28px;
      line-height: 46px;
      &::before {
        left: -15px;
        height: 39px;
        width: 39px;
        background-repeat: no-repeat;
      }
    }
  }
  .slick-track .slick-slide {
    padding: 0 15px;
  }
  .checkListWrap p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
  .memberWrap h2 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 35px;
    text-align: center;
  }
  .sliderSection {
    margin-bottom: 90px;
  }
}
