.ourStory {
    padding-top: 65px;
    margin-bottom: 86px;
    color: #A00014;
  }
  .ourStory .storyContent {
    max-width: 480px;
  }
  .ourStory .storyTtitle {
    display: flex;
  }
  .ourStory .storyTtitle h3 {
    font-family: "agatholight";
    font-size: 70px;
    font-weight: 300;
    line-height: 74.06px;
    text-align: left;
    margin-bottom: 31px;
  }
  .ourStory p {
    font-family: "gilroy-semibolduploaded_file";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    margin-bottom: 22px;
  }
  .ourStory .layerImageBox {
    max-width: 552px;
  }
  
  .letsTalk h2 {
    font-family: "agatholight";
    font-size: 50px;
    font-weight: 300;
    line-height: 52.9px;
    margin-bottom: 27px;
  }
  .letsTalk .description {
    color: #A00014;
    margin-bottom: 70px;
    max-width: 447px;
    margin-left: 28px;
  }
  .letsTalk .description p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    margin-bottom: 0;
  }